@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: black;
}

body{
    min-height: 100vh;
}

.welcome-heading{
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: yellow;
}

.paragraph-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-paragraph{
    max-width: 60ch;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}

.image-wrapper{
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-image{
    object-fit: cover;
    object-position: left;
    width: 250px;
    height: 250px;
}